.technologies {
    &__heading {
        position: relative;
        text-align: center;

        h2 {
            font-size: 36px;
            line-height: 49px;
            font-weight: 700;
            margin: 46px 0 32px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }
}