.technologies {
    &__heading {
        position: relative;
        text-align: center;

        h2 {
            margin: 46px 0 32px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }
}