@import "../../../styles/variables";

.header {
    @extend .appWidth;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    @media (min-width: $tablet-breakpoint) {
        padding-top: 30px;
        padding-bottom: 0;
    }
}

.logo {
    &__section {
        display: flex;
        align-items: center;
    }

    &__img {
        height: 20px;
        width: 20px;

        @media (min-width: $tablet-breakpoint) {
            height: 43px;
            width: 43px;
        }
    }

    &__title {
        margin-left: 12px;
        color: $black-90;
        display: none;

        @media (min-width: $tablet-breakpoint) {
            display: block;
        }
    }
}

.nav {
    display: flex;

    &__section {
        position: relative;
        display: none;

        @media (min-width: $tablet-breakpoint) {
            display: block;
        }
    }

    &__element {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        margin-left: 18px;
        margin-right: 18px;
        text-decoration: none;
        color: $black-90;
        position: relative;
        display: block;
        transition: $transition-3s;

        &:after {
            content: "";
            position: relative;
            display: block;
            margin: 6px auto 0;
            background: transparent;
            width: 47px;
            height: 1px;
            transition: $transition-3s;
        }

        &:hover {
            color: $orange-dark;

            &:after {
                background: $orange-dark;
            }
        }
    }
}