@import "../../styles/variables";

.welcome {
    &-container {
        background-color: $white;
        border-radius: 0;
        overflow: hidden;
        display: block;
        margin-top: 0;

        @media (min-width: $tablet-breakpoint) {
            display: flex;
            margin-top: 30px;
            border-radius: 20px;
            box-shadow: 0px 5px 10px rgba($black, 0.07);
        }

        &__image {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: cover;

            @media (min-width: $tablet-breakpoint) {
                max-width: 628px;
            }

            &-container {
                position: relative;
                height: 273px;

                @media (min-width: $tablet-breakpoint) {
                    height: auto;
                    width: 50%;
                }

                @media (min-width: $desktop-breakpoint) {
                    width: auto;
                }
            }
        }

        &__form {
            text-align: center;
            flex: 1;

            h2 {
                margin: 0 0 35px;
                color: $black-90;

                @media (min-width: $tablet-breakpoint) {
                    margin: 0 0 45px;
                }
            }

            &-container {
                display: flex;
                align-items: center;
                flex: 1;
                margin-top: 40px;
                margin-bottom: 50px;

                @media (min-width: $tablet-breakpoint) {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        &__lub {
            font-size: 16px;
            line-height: 26px;
            margin: 18px 0;
            color: $grey-50;

            @media (min-width: $tablet-breakpoint) {
                margin: 20px 0;
            }
        }
    }
}