.article {
    flex: 0 0 auto;
    width: 50%;

    &__container {
        margin: 8px 0;
        overflow: hidden;
    }

    &__title {
        display: flex;
        align-items: baseline;
        padding: 0 3px;

        img {
            margin-right: 16px;
            position: relative;
            top: 5px;
        }

        h3 {
            font-size: 24px;
            line-height: 33px;
            font-weight: 700;
            margin: 0 0 28px;
            color: $black-90;
        }
    }

    &__date {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: $black;
        padding: 0 1px;
        margin-bottom: 10px;
    }

    &__image-container {
        height: 145px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 28px;
        color: $black-90;
        margin: 15px 0;
    }
}