.screen {

    &.hide {
        animation: scale-display--reversed .5s;
        animation-fill-mode: forwards;
    }  

    &.active {
        animation: scale-display .3s;
        display: block;
    }
}