header,
footer {
    animation: scale-display .5s;
}

.section {
    &-welcome {
        animation: scale-display .5s;
        margin-left: -20px;
        margin-right: -20px;

        @media (min-width: $tablet-breakpoint) {
            margin: 0;
        }
    }

    &-articles {
        animation: scale-display .5s;
    }

    &-technologies {
        animation: scale-display .5s;
    }
}