.section {
    &-welcome {
        animation: scale-display .5s;
    }

    &-articles {
        animation: scale-display .5s;
    }

    &-technologies {
        animation: scale-display .5s;
    }
}