@import "./variables";
@import "./section";
@import "./article";
@import "./technology";
@import "./screen";
@import "./form";
@import "./mobile-nav";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
}

body {
    background-color: $white;

    @media (min-width: $tablet-breakpoint) {
        background-color: $grey;
    }

    &.mobile-nav-active {
        overflow: hidden;
    }
}